@charset "UTF-8";
@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-caret-down:before, .icon-flag-waving:before, .icon-search:before, .icon-sort-amount-down:before, .icon-view:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-caret-down:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-flag-waving:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-sort-amount-down:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-view:before {
  content: "";
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-light.woff2") format("woff2"), url("../fonts/HelveticaNeue-light.woff") format("woff"), url("../fonts/HelveticaNeue-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 12px;
  font-weight: normal;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1234px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  z-index: 2;
  position: relative;
  padding-top: 40px;
}

/* line 8, src/scss/_components/homepage/_main.scss */
.main__title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

/* line 15, src/scss/_components/homepage/_main.scss */
.main__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  /* line 15, src/scss/_components/homepage/_main.scss */
  .main__option {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  /* line 24, src/scss/_components/homepage/_main.scss */
  .main__option > div {
    width: 100%;
  }
}

/* line 29, src/scss/_components/homepage/_main.scss */
.main__option > div:nth-of-type(1) {
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  /* line 29, src/scss/_components/homepage/_main.scss */
  .main__option > div:nth-of-type(1) {
    padding-right: 0;
    padding-bottom: 15px;
  }
}

/* line 36, src/scss/_components/homepage/_main.scss */
.main__option > div:nth-of-type(2) {
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  /* line 36, src/scss/_components/homepage/_main.scss */
  .main__option > div:nth-of-type(2) {
    padding-left: 0;
  }
}

/* line 44, src/scss/_components/homepage/_main.scss */
.main__option-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #727272;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 57, src/scss/_components/homepage/_main.scss */
.main__option-link--small {
  width: 50px;
}

/* line 61, src/scss/_components/homepage/_main.scss */
.main__option-link.is-active {
  background-color: #f3f4f5;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 66, src/scss/_components/homepage/_main.scss */
.main__option-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 73, src/scss/_components/homepage/_main.scss */
.main__indicator {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 70px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #eaeaeb;
  background-color: #fff;
}

@media screen and (max-width: 1279px) {
  /* line 73, src/scss/_components/homepage/_main.scss */
  .main__indicator {
    padding-right: 5px;
  }
}

@media screen and (max-width: 1023px) {
  /* line 73, src/scss/_components/homepage/_main.scss */
  .main__indicator {
    -webkit-box-flex: unset;
    -webkit-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    max-width: -webkit-calc(100% / 4);
    max-width: calc(100% / 4);
  }
}

@media screen and (max-width: 767px) {
  /* line 73, src/scss/_components/homepage/_main.scss */
  .main__indicator {
    max-width: -webkit-calc(100% / 2);
    max-width: calc(100% / 2);
  }
}

/* line 97, src/scss/_components/homepage/_main.scss */
.main__indicator:first-of-type {
  -webkit-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

/* line 100, src/scss/_components/homepage/_main.scss */
.main__indicator:last-of-type {
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 767px) {
  /* line 103, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(3) {
    border-left: 1px solid #eaeaeb !important;
  }
  /* line 107, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(3) img {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  /* line 112, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(5) {
    -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
    border-left: 1px solid #eaeaeb !important;
  }
  /* line 117, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(5) img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* line 112, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(5) {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  /* line 125, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(7) {
    max-width: 100%;
    border-left: 1px solid #eaeaeb !important;
  }
  /* line 130, src/scss/_components/homepage/_main.scss */
  .main__indicator:nth-of-type(7) img {
    display: none;
  }
}

/* line 136, src/scss/_components/homepage/_main.scss */
.main__indicator:after {
  content: '';
  z-index: 15;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: #ffffff;
}

/* line 147, src/scss/_components/homepage/_main.scss */
.main__indicator:not(:first-of-type) {
  border-left: none;
}

/* line 152, src/scss/_components/homepage/_main.scss */
.main__indicator > div:nth-of-type(2) {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 159, src/scss/_components/homepage/_main.scss */
.main__indicator--disclosed p,
.main__indicator--disclosed .icon-font {
  color: #ec411b;
}

/* line 165, src/scss/_components/homepage/_main.scss */
.main__indicator--approved p,
.main__indicator--approved .icon-font {
  color: #A03745;
}

/* line 171, src/scss/_components/homepage/_main.scss */
.main__indicator--cleared p,
.main__indicator--cleared .icon-font {
  color: #583C6B;
}

/* line 177, src/scss/_components/homepage/_main.scss */
.main__indicator--submitted p,
.main__indicator--submitted .icon-font {
  color: #003686;
}

/* line 183, src/scss/_components/homepage/_main.scss */
.main__indicator--out p,
.main__indicator--out .icon-font {
  color: #005A7B;
}

/* line 189, src/scss/_components/homepage/_main.scss */
.main__indicator--back p,
.main__indicator--back .icon-font {
  color: #007966;
}

/* line 195, src/scss/_components/homepage/_main.scss */
.main__indicator--funded p,
.main__indicator--funded .icon-font {
  color: #009C47;
}

/* line 201, src/scss/_components/homepage/_main.scss */
.main__indicator-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  /* line 201, src/scss/_components/homepage/_main.scss */
  .main__indicator-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 212, src/scss/_components/homepage/_main.scss */
.main__indicator img {
  z-index: 5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -6px;
}

/* line 220, src/scss/_components/homepage/_main.scss */
.main__indicator p {
  font-weight: bold;
  font-size: 35px;
}

@media screen and (max-width: 1279px) {
  /* line 220, src/scss/_components/homepage/_main.scss */
  .main__indicator p {
    font-size: 25px;
  }
}

/* line 228, src/scss/_components/homepage/_main.scss */
.main__indicator .icon-font {
  font-size: 14px;
}

@media screen and (max-width: 1279px) {
  /* line 228, src/scss/_components/homepage/_main.scss */
  .main__indicator .icon-font {
    font-size: 12px;
  }
}

/* line 235, src/scss/_components/homepage/_main.scss */
.main__indicator span {
  font-size: 10px;
  line-height: 11px;
  color: #727272;
}

/* line 240, src/scss/_components/homepage/_main.scss */
.main__indicator span strong {
  font-weight: bold;
}

/* line 246, src/scss/_components/homepage/_main.scss */
.main__filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 36px;
  border-top: 1px solid #e2e2e3;
}

/* line 253, src/scss/_components/homepage/_main.scss */
.main__filter > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 260, src/scss/_components/homepage/_main.scss */
.main__filter-search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 100%;
}

/* line 267, src/scss/_components/homepage/_main.scss */
.main__filter-search input {
  outline: none;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.main__filter-search input.placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.main__filter-search input:-moz-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.main__filter-search input::-moz-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.main__filter-search input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.main__filter-search input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

/* line 288, src/scss/_components/homepage/_main.scss */
.main__filter-search button {
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
}

/* line 303, src/scss/_components/homepage/_main.scss */
.main__filter-search button .icon-font {
  color: #c1c1c1;
}

/* line 309, src/scss/_components/homepage/_main.scss */
.main__filter-sort, .main__filter-view {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

/* line 319, src/scss/_components/homepage/_main.scss */
.main__filter-sort:hover .main__filter-sort-drop, .main__filter-view:hover .main__filter-sort-drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 327, src/scss/_components/homepage/_main.scss */
.main__filter-sort-drop, .main__filter-view-drop {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  position: absolute;
  top: 100%;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 125px;
  padding: 5px 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 344, src/scss/_components/homepage/_main.scss */
.main__filter-sort-drop a, .main__filter-view-drop a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: #727272;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 354, src/scss/_components/homepage/_main.scss */
.main__filter-sort-drop a:hover, .main__filter-view-drop a:hover {
  background-color: #f3f4f5;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 362, src/scss/_components/homepage/_main.scss */
.main__filter-sort > div:nth-of-type(2), .main__filter-view > div:nth-of-type(2) {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 368, src/scss/_components/homepage/_main.scss */
.main__filter-sort span, .main__filter-view span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #c1c1c1;
}

@media screen and (max-width: 767px) {
  /* line 368, src/scss/_components/homepage/_main.scss */
  .main__filter-sort span, .main__filter-view span {
    display: none;
  }
}

/* line 378, src/scss/_components/homepage/_main.scss */
.main__filter-sort .icon-font, .main__filter-view .icon-font {
  color: #c1c1c1;
}

/* line 381, src/scss/_components/homepage/_main.scss */
.main__filter-sort .icon-font.icon-sort-amount-down, .main__filter-view .icon-font.icon-sort-amount-down {
  font-size: 13px;
}

/* line 384, src/scss/_components/homepage/_main.scss */
.main__filter-sort .icon-font.icon-caret-down, .main__filter-view .icon-font.icon-caret-down {
  font-size: 5px;
}

/* line 390, src/scss/_components/homepage/_main.scss */
.main__filter-sort {
  margin-left: 18px;
}

/* line 3, src/scss/_components/homepage/_table.scss */
.table {
  z-index: 0;
  position: relative;
  padding-bottom: 141px;
}

/* line 8, src/scss/_components/homepage/_table.scss */
.table__wrapper {
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  width: -webkit-calc(100% + 15px);
  width: calc(100% + 15px);
}

/* line 15, src/scss/_components/homepage/_table.scss */
.table__container {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #e2e2e3;
}

@media screen and (max-width: 1023px) {
  /* line 15, src/scss/_components/homepage/_table.scss */
  .table__container {
    width: 1024px;
  }
}

/* line 27, src/scss/_components/homepage/_table.scss */
.table__thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  background-color: #eaeaeb;
}

/* line 33, src/scss/_components/homepage/_table.scss */
.table__tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 37, src/scss/_components/homepage/_table.scss */
.table__tbody .table__tr {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 40, src/scss/_components/homepage/_table.scss */
.table__tbody .table__tr:not(:last-of-type) {
  border-bottom: 1px solid #e2e2e3;
}

/* line 44, src/scss/_components/homepage/_table.scss */
.table__tbody .table__tr:hover, .table__tbody .table__tr.is-open {
  background-color: #fafafa;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 52, src/scss/_components/homepage/_table.scss */
.table__tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 57, src/scss/_components/homepage/_table.scss */
.table__tr .table__th,
.table__tr .table__td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding: 5px 10px;
}

/* line 66, src/scss/_components/homepage/_table.scss */
.table__th {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 73, src/scss/_components/homepage/_table.scss */
.table__td {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
}

/* line 80, src/scss/_components/homepage/_table.scss */
.table__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 210px;
  padding: 15px 10px 0;
  border-bottom: 1px solid #e2e2e3;
  background-color: #fafafa;
}

/* line 88, src/scss/_components/homepage/_table.scss */
.table__block-wrapper {
  display: none;
}

/* line 92, src/scss/_components/homepage/_table.scss */
.table__block-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 98, src/scss/_components/homepage/_table.scss */
.table__block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1279px) {
  /* line 98, src/scss/_components/homepage/_table.scss */
  .table__block-right {
    width: 175px;
  }
}

/* line 109, src/scss/_components/homepage/_table.scss */
.table__block-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 113, src/scss/_components/homepage/_table.scss */
.table__block-row > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding-right: 55px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1279px) {
  /* line 113, src/scss/_components/homepage/_table.scss */
  .table__block-row > div {
    padding-right: 30px;
  }
}

/* line 124, src/scss/_components/homepage/_table.scss */
.table__block-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 130, src/scss/_components/homepage/_table.scss */
.table__block-data > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 135, src/scss/_components/homepage/_table.scss */
.table__block-data > div:nth-of-type(1) p {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 142, src/scss/_components/homepage/_table.scss */
.table__block-data > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.4px;
  height: 19px;
  padding-left: 5px;
  background-image: url("../img/bookmark.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

/* line 154, src/scss/_components/homepage/_table.scss */
.table__block-data > div:nth-of-type(2) span {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

/* line 163, src/scss/_components/homepage/_table.scss */
.table__block-circle {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #000;
}

/* line 174, src/scss/_components/homepage/_table.scss */
.table__block-circle p,
.table__block-circle .icon-font {
  color: #ffffff;
}

/* line 179, src/scss/_components/homepage/_table.scss */
.table__block-circle p {
  font-weight: bold;
  font-size: 35px;
  line-height: 1;
  color: #fff;
}

/* line 186, src/scss/_components/homepage/_table.scss */
.table__block-circle .icon-font {
  margin-left: 3px;
  font-size: 25px;
}

/*# sourceMappingURL=maps/app.css.map */
