// SECTION :: START

.main {
	z-index: 2;
	position: relative;
	padding-top: 40px;

	&__title {
		padding-bottom: 10px;
		font-weight: bold;
		font-size: 24px;
		color: #000;
	}

	&__option {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;

		> div {
			&:nth-of-type(1) {
				padding-right: 15px;
			}
			&:nth-of-type(2) {
				padding-left: 15px;
			}
		}

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 30px;
			border-radius: 4px;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: #727272;

			&--small {
				width: 50px;
			}

			&.is-active {
				background-color: #f3f4f5;
			}

			&-wrapper {
				display: flex;
				align-items: center;
			}
		}
	}

	&__indicator {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		min-width: 1px;
		max-width: 100%;
		height: 70px;
		padding: 10px 10px 10px 20px;
		border: 1px solid #eaeaeb;
		background-color: #fff;

		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}

		&:after {
			content: '';
			z-index: 15;
			position: absolute;
			top: 0;
			right: 0;
			width: 5px;
			height: 100%;
			background-color: #ffffff;
		}

		&:not(:first-of-type) {
			border-left: none;
		}

		> div {
			&:nth-of-type(2) {
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		&--disclosed {
			p,
			.icon-font {
				color: #ec411b;
			}
		}
		&--approved {
			p,
			.icon-font {
				color: #A03745;
			}
		}
		&--cleared {
			p,
			.icon-font {
				color: #583C6B;
			}
		}
		&--submitted {
			p,
			.icon-font {
				color: #003686;
			}
		}
		&--out {
			p,
			.icon-font {
				color: #005A7B;
			}
		}
		&--back {
			p,
			.icon-font {
				color: #007966;
			}
		}
		&--funded {
			p,
			.icon-font {
				color: #009C47;
			}
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
		}

		img {
			z-index: 5;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -6px;
		}

		p {
			font-weight: bold;
			font-size: 35px;
		}

		.icon-font {
			font-size: 14px;
		}

		span {
			font-size: 10px;
			line-height: 11px;
			color: #727272;

			strong {
				font-weight: bold;
			}
		}
	}

	&__filter {
		display: flex;
		justify-content: space-between;
		height: 36px;
		border-top: 1px solid #e2e2e3;

		> div {
			&:nth-of-type(2) {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}

		&-search {
			position: relative;
			display: flex;
			align-items: center;
			width: 112px;
			height: 100%;

			input {
				outline: none;
				position: relative;
				width: 100%;
				height: 100%;
				border: none;
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: #000;
				@include inputPlaceholder {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					color: #c1c1c1;
				}
			}

			button {
				outline: none;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				width: auto;
				height: auto;
				padding: 0;
				margin: 0;
				border: none;
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;

				.icon-font {
					color: #c1c1c1;
				}
			}
		}

		&-sort,
		&-view {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			&:hover {
				.main__filter-sort-drop {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					@include transition(opacity, visibility, transform);
				}
			}

			&-drop {
				opacity: 0;
				visibility: hidden;
				transform: translateY(10px);
				position: absolute;
				top: 100%;
				right: 0;
				display: flex;
				flex-direction: column;
				width: 125px;
				padding: 5px 0;
				border-radius: 4px;
				background-color: #fff;
				box-shadow: 0 1px 5px 0 rgba(#000, 0.15);
				backface-visibility: hidden;
				@include transition(opacity, visibility, transform);

				a {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					min-height: 35px;
					padding-left: 10px;
					padding-right: 10px;
					color: #727272;
					@include transition(background-color);

					&:hover {
						background-color: #f3f4f5;
						@include transition(background-color);
					}
				}
			}

			> div {
				&:nth-of-type(2) {
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			span {
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: #c1c1c1;
			}

			.icon-font {
				color: #c1c1c1;

				&.icon-sort-amount-down {
					font-size: 13px;
				}
				&.icon-caret-down {
					font-size: 5px;
				}
			}
		}

		&-sort {
			margin-left: 18px;
		}
	}
}

// SECTION :: END
