
.c-btn {
  outline: none;
  cursor: pointer;
	position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	background: #f3f4f5;

	//max-width: $bth-width;
  //height: $bth-height;
  //border: $btn-border-width solid $btn-border-color;
  //box-shadow: $bth-box-shadow;
  //border-radius: $bth-border-radius;
  //color: $bth-color;
  //font-size: $bth-font-size;
  //font-weight: $bth-font-weight;

	&__wrapper {
		display: flex;
		align-items: center;
	}
}

// BUTTON :: END
